@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b {
	text-transform: lowercase;
	font-weight:normal;
	font-variant: small-caps;
}

/* poetry */
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	font-style: italic;
	padding-left: 2em;
	padding-right: 2em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

blockquote.sign {
	text-transform: uppercase;
}

p.noindent {
	text-indent: 0;
}
/* abbreviations*/

abbr.name { white-space: nowrap; }
abbr.initialism { font-variant: normal; text-transform: uppercase; }
abbr.degree { font-variant: normal; text-transform: uppercase; }
