@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

/*  XML blockout */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  /* all headings centered */
  clear: both;
}
/* page numbers */
.block {
  margin-left: 5%;
  margin-right: 5%;
}
/* block indent */

b {
  font-weight:normal;
  font-variant: small-caps;
}

/* poetry */
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
  font-style: italic;
	padding-left: 2em;
  padding-right: 2em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}
/**/
h2 {
  padding-top: 1em;
}
/* abbreviations*/

abbr.name { white-space: nowrap; }
abbr.initialism { font-variant: normal; text-transform: uppercase; }
abbr.degree { font-variant: normal; text-transform: uppercase; }
